<html>
<head>
  <title>Pastiatra</title>
</head>
<body>
    endpoints
    
    <ul>
      <li>GET /pasties - get latest pasties...</li>
    </ul>
    
    <p>All data will be JSON</p>
    
    <p>Generated at <%= current_time %></p>
  </body>
  </html>